@media(max-width: 376px) {

.header{
   padding: 6px 14px ;
   column-gap: 54px;
}
   nav{
    display: none;
   }
    .burger_icon{
        display: block;
    }
    
    /* section1 */
    .section_first {
        padding-inline: 14px;
        height: 431px;
    }

    .title_section_first {
        font-size: 32px;
        line-height: 40px;
    }

    .text_section_first {
        font-size: 14px;
        line-height: 22px;
    }
     }
    